 * {
    border: 1px solid red;
} 

header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 20px;
}

.right-side-header {
    margin-right: 200px;
}

.left-side-header {
    margin-left: 200px;
}

.hero {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.textandsignup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 600px;
}

.call-to-action {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes-container {
    display: flex;
    width: 2000px;
    justify-content: space-evenly;
    flex: 1;
}

.box {
    width: 250px;
    height: 250px;
    border: 1px solid blue;
}

.subtext-container {
    display: flex;
    justify-content: space-evenly;
    width: 2000px;
}

.quote-section {
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-direction: column;
}

.quote-sayer {
    display: flex;
    justify-content: end;
}

.second-call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call-card {
    display: flex;
    width: 400px;
}

.left-side-call-card {
    display: flex;
    flex-direction: column;
}

.right-side-call-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
