@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
}

ul{
    list-style-type: none;
}

.sectionOne{
    background-color: #1f2937;
    height: 600ox;
}

#headerLogo{
    font-size: 24px;
    color: #f9faf8;
    margin-right: 400px;
}

.headerLink{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.navBar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navBarLeft,.navBarRight{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroSubtext{
    font-size: 18px;
    color: #E5E7Eb;
}

img{
    width: 600px;
    height: 500px;
    margin-bottom: 50px;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

 .contentRight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
 }

 .contentLeft{
    display: flex;
    flex-direction: column;
    width: 50%; 
    justify-content: center;
    margin-left: 200px ;
}

.firstButton{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px #3882f6;
    border-radius: 10px;
}

.secondSection{
    height: 500px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 50px;
}

.rowOfDivBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blueBox{
    border: 5px solid #3882f6;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.blueBoxMessage{
    margin: 25px;
}

.thirdSection{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    flex-direction: column;
}

.quoteText{
    font-size: 36px;
    font-style: italic;
}

.thirdPara{
    font-weight: bolder;
    margin-left: 682px;
}

.fourthSection{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthSectionBlueBox{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    height: 200px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.callToAction{
    font-weight: bolder;
    font-size: 25px;
}

.lastButton{
    color: white;
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.footer{
    background-color: #1f2937;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footerText{
    color: white;
}